<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/api/food/add" enctype="multipart/form-data">
      <input type="text" name="name" id="" placeholder="name" />
      <input type="text" name="category" id="" placeholder="category" />
      <!-- <input type="text" name="image" id="" placeholder="image" /> -->
      <input type="file" id="imageInput" name="image" accept="image/*" />

      <input type="number" name="price" id="" placeholder="price" />
      <input type="text" name="description" id="" placeholder="description" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
