.grid_container {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr 1.4fr 1fr 0.5fr 0.2fr;
}

@media (max-width: 682px) {
  .lists {
    padding: 10px;
    margin-top: 7.6rem;
  }
}

@media (max-width: 436px) {
  .lists {
    font-size: 10px;
  }
  .image_size {
    width: 3rem;
    height: 2.2rem;
  }

  .delete {
    font-size: 1rem;
  }
}
